@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');/*importando a fonte*/

body{
    background-image:url(./imagens/wallpaper.png) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
    font-family: "League Spartan", serif;
    /* font-weight: <weight 100-700>;*/
}
h1{
    font-weight: 700;
    font-size: 64px;
    color: #141414;
}
h2{
    font-weight: 600;
    font-size: 40px;
    color: #141414;
}
#user{/*nome de usuario*/
    background-color: #242424;
    font-family: "League Spartan", serif;
    width: 450px;
    height: 52px;
    border-radius: 15px;
    border:none;
    padding-left: 14px;
    outline:none;
     
    color: white;
    font-weight: 400;
    font-size: 27px;
}


#btn{/*botão entrar*/
    background-color: #141414;
    font-family: "League Spartan", serif;
    border-radius: 20px;
    width: 150px;
    height: 54px;
    border:none;
    color:white;
    font-weight: 400;
    font-size: 27px;


  
}
