@charset "UFT-8";

@font-face {
    font-family: "cascadia", monospace;
    src: 
        url(../fontes/CascadiaCode-Regular.woff2) format("woff2")
        url(../fontes/CascadiaCode-Bold.woff2) format("woff2")
        url(../fontes/CascadiaCode-SemiBold.woff2) format("woff2")
        url(../fontes/CascadiaCode-Light.woff2) format("woff2")
        url(../fontes/CascadiaCode-SemiLight.woff2) format("woff2")
        url(../fontes/CascadiaCode-ExtraLight.woff2) format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Righteous&display=swap');

:root{
    --font: "Lato", sans-serif;
    --font_h: "Righteous", sans-serif;
    --font_code: "cascadia", monospace;

    --verde_cinza: #2ada7c;
    --rosa_destaque: #F0716F;
    --amarelo_leve: #EEA626;
    --preto: #202225;
    --cinza_dark: #36393F;
    --cinza_mid: #42464e;
    --cinza_light:#4c5058;
    --code: #27244A;
}
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    width: 98vw;
    background-color: var(--preto);
}
main{
    width: 73vw;
    margin: auto;
    margin-left: 22vw;
    background-color: var(--cinza_dark);
    box-shadow: rgba(0, 0, 0, 0.397) 0px 15px 25px, rgba(0, 0, 0, 0.39) 0px 5px 10px;
}
h1{
    text-align: center;
    font-size: 4em;
}
h3{
    text-indent: 50px;
    font-size: 1.5em;
}
h1,h2,h3,h4{
    margin: 20px;
    font-family: var(--font_h);
    color: white;
    font-size: 2em;
}
p{
    margin: 20px;
    color:var(--amarelo_leve);
    text-align: center;
    font-family: var(--font);
}
strong{
    color: var(--rosa_destaque);
}

